a {
    color: black;
    text-decoration: none;
}

.nav-wrapper {
    padding: 0 10px;
}

nav .sidenav-trigger {
    margin: 0 5px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.collapsible-body {
    padding: 0;
}

.recipe-container {
    padding: 1rem 1.5rem;
}

.recipe-container div i {
    width: 25px;
}

.collapsible-buttons {
    margin-bottom: 0.5rem;
}

.btn,
.btn-large,
.btn-small {
    letter-spacing: 0;
    padding: 0 15px;
}

.recipe-img {
    width: 100%;
}

.no-recipe-img {
    width: 75%;
    border: 2px solid black;
}