/* General Styling */

html {
    font-size: 16px;
}

h1 {
    font-size: 2.5rem;
    margin: 1rem auto;
}

h2 {
    font-size: 1.5rem;
    margin: 0.5rem auto;
}

ol {
    padding-inline-start: 25px;
}

a {
    color: black;
    text-decoration: none;
}

p {
    margin: 0 0 1rem;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

/* NavBar */

.nav-wrapper {
    padding: 0 10px;
}

nav .sidenav-trigger {
    margin: 0 5px;
}

/* Flashes */

.flashes {
    margin: 0;
}

.flashes li {
    border: 1px solid #0000004f;
}

.error {
    background-color: red;
}

.success {
    background-color: #36b136;
}

/* Home Page */

.home a {
    background-color: darkred;
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.home a:hover {
    background-color: #c11111;
}

/* Collapsibles/Recipe Container */

.recipe-container {
    padding: 1rem 1.5rem;
}

.recipe-icon {
    width: 25px;
}

.collapsible-body {
    padding: 0;
}

.collapsible-buttons {
    margin: 0.3rem;
}

.collapsible-buttons .col {
    padding: 0.2rem;
}

.collapsible-buttons a,
.collapsible-buttons button {
    width: 100%;
    letter-spacing: 0;
}

#my-recipes .recipe-container,
#saved-recipes .recipe-container {
    margin: 0;
}

#my-recipes .collapsible-buttons,
#saved-recipes .collapsible-buttons {
    margin: 0.3rem;
}

.recipe-img {
    width: 100%;
}

.no-recipe-img {
    width: 75%;
    border: 2px solid black;
}

/* Media Queries */

@media screen and (min-width: 992px) {
    html {
        font-size: 17px;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 18px;
    }
}

@media screen and (max-width: 415px) {
    nav .brand-logo {
        font-size: 1.5rem;
    }
}

@media screen and (min-width: 415px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }
}