a {
    color: black;
    text-decoration: none;
}

p {
    margin: 0 0 1rem;
}

.nav-wrapper {
    padding: 0 10px;
}

nav .sidenav-trigger {
    margin: 0 5px;
}

.text-shadow {
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.flashes h4 {
    line-height: 2;
}

.collapsible-body {
    padding: 0;
}

.recipe-container {
    padding: 1rem 1.5rem;
}

.recipe-icon {
    width: 25px;
}

.collapsible-buttons {
    margin-bottom: 0.5rem;
}

.btn,
.btn-large,
.btn-small {
    letter-spacing: 0;
    padding: 0 15px;
}

.recipe-img {
    width: 100%;
}

.no-recipe-img {
    width: 75%;
    border: 2px solid black;
}

html {
    font-size: 16px;
}

@media screen and (min-width: 992px) {
    html {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    html {
        font-size: 20px;
    }
}

@media screen and (max-width: 415px) {
    nav .brand-logo {
        font-size: 1.5rem;
    }
}

h1 {
    font-size: 2.5rem;
    margin: 1rem auto;
}

h2 {
    font-size: 1.5rem;
    margin: 0.5rem auto;
}

@media screen and (min-width: 415px) {
    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }
}

ol {
    padding-inline-start: 25px;
}