{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-lighten-1 center-align">Add Recipe</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="">
            <!-- recipe name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-pen prefix"></i>
                    <input id="recipe_name" name="recipe_name" type="text" minlength="5"
                        maxlength="50" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- recipe description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-align-left prefix"></i>
                    <textarea id="recipe_desc" name="recipe_desc" minlength="5"
                        maxlength="300" class="validate materialize-textarea" required></textarea>
                    <label for="recipe_desc">Recipe Description</label>
                </div>
            </div>
            <div class="row">
                <!-- meal type -->
                <div class="input-field col s12 m4">
                    <select id="meal_type" name="meal_type" class="validate" required multiple>
                        {% for i in meal_types %}
                            <option value="{{ i.meal_type }}">{{ i.meal_type|capitalize }}</option>
                        {% endfor %}
                    </select>
                    <label for="meal_type">Meal Type</label>
                </div>
                <!-- recipe difficulty -->
                <div class="input-field col s12 m4">
                    <select id="difficulty" name="difficulty" class="validate" required>
                        <option value="" disabled selected></option>
                        <option value="beginner">Beginner</option>
                        <option value="intermediate">Intermediate</option>
                        <option value="advanced">Advanced</option>
                    </select>
                    <label for="difficulty">Recipe Difficulty</label>
                </div>
                <!-- ready in -->
                <div class="input-field col s6 m2">
                    <input id="ready_hours" name="ready_hours" type="number" class="validate" required placeholder="Hours">
                    <label for="ready_hours">Ready In</label>
                </div>
                <div class="input-field col s6 m2">
                    <input id="ready_minutes" name="ready_minutes" type="number" class="validate" required placeholder="Minutes">
                    <label for="ready_minutes"></label>
                </div>
            </div>
            <!-- ingredients label and add button -->
            <div class="row">
                <div class="col s12">
                    <label for="quantity[] unit[] name[]">Ingredients: </label>
                    <a class="btn-floating waves-effect waves-light" id="add-ingredient">
                        <i class="fa-solid fa-circle-plus"></i>
                    </a>
                </div>
            </div>
            <!-- ingredients table -->
            <div>
                <div class="row">
                    <div class="col s12 input-field">
                        <table id="ingredients-table">
                            <thead>
                                <tr>
                                    <th>Food</th>
                                    <th>Quantity</th>
                                    <th>Unit (optional)</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <input name="name[]" type="text" minlength="3" class="validate"
                                        required placeholder="(e.g. Chicken Breast, Brown Onion, Garlic Powder, etc)">
                                    </td>
                                    <td>
                                        <input name="quantity[]" type="number" class="validate " required placeholder="(e.g. 2, 500, etc)">
                                    </td>
                                    <td>
                                        <input name="unit[]" type="text" maxlength="10" class="validate"
                                            placeholder="(e.g. kg, g, l, ml, cup, tsp, tbsp, etc)">

                                        <!-- <select name="unit[]" class="validate" required>
                                            <option value="unit" selected>Unit</option>
                                            <option value="g">Grams</option>
                                            <option value="kg">Kilograms</option>
                                            <option value="ml">Millilitres</option>
                                            <option value="l">Litres</option>
                                            <option value="cup">Cup</option>
                                            <option value="tsp">Teaspoon</option>
                                            <option value="tbsp">Tablespoon</option>
                                        </select> -->
                                    </td>
                                    <td>
                                        <a class="btn-floating waves-effect waves-light" id="delete-ingredient">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <!-- method label and add button -->
            <div class="row">
                <div class="col s12">
                    <label for="step_desc[]">Method: </label>
                    <a class="btn-floating waves-effect waves-light" id="add-step">
                        <i class="fa-solid fa-circle-plus"></i>
                    </a>
                </div>
            </div>
            <!-- method table -->
            <div>
                <div class="row">
                    <div class="col s12 input-field">
                        <table id="method-table">
                            <thead>
                                <tr>
                                    <th>Step</th>
                                    <th>Method</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        <strong>
                                            <span id="step-number">1</span>
                                        </strong>
                                    </td>
                                    <td>
                                        <textarea id="step_desc[]" name="step_desc" minlength="5" maxlength="500"
                                        class="validate materialize-textarea" required></textarea>
                                    </td>
                                    <td>
                                        <a class="btn-floating waves-effect waves-light" id="delete-step">
                                            <i class="fa-regular fa-trash-can"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </form>
    </div>

{% endblock %}