{% extends "base.html" %}
{% block content %}

    <h3 class="teal-text text-lighten-1 center-align">Add Recipe</h3>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <!-- recipe name -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-pen prefix"></i>
                    <input id="recipe_name" name="recipe_name" type="text" minlength="5"
                        maxlength="50" class="validate" required>
                    <label for="recipe_name">Recipe Name</label>
                </div>
            </div>
            <!-- recipe description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-align-left prefix"></i>
                    <textarea id="recipe_desc" name="recipe_desc" minlength="5"
                        maxlength="700" class="validate materialize-textarea" required></textarea>
                    <label for="recipe_desc">Recipe Description</label>
                </div>
            </div>
            <div class="row">
                <!-- meal type -->
                <div class="input-field col s12 m4">
                    <select id="meal_type" name="meal_type" class="validate" required>
                        <option value="" disabled selected>e.g. Lunch</option>
                        {% for i in meal_types %}
                            <option value="{{ i.meal_type }}">{{ i.meal_type|capitalize }}</option>
                        {% endfor %}
                    </select>
                    <label for="meal_type">Meal Type</label>
                </div>
                <!-- recipe difficulty -->
                <div class="input-field col s12 m4">
                    <select id="difficulty" name="difficulty" class="validate" required placeholder="Beginner">
                        <option value="" disabled selected>e.g. Beginner</option>
                        <option value="beginner">Beginner</option>
                        <option value="intermediate">Intermediate</option>
                        <option value="advanced">Advanced</option>
                    </select>
                    <label for="difficulty">Recipe Difficulty</label>
                </div>
                <!-- ready in -->
                <div class="input-field col s6 m2">
                    <input id="ready_hours" name="ready_hours" type="number" class="validate" required placeholder="Hours">
                    <label for="ready_hours">Ready In</label>
                </div>
                <div class="input-field col s6 m2">
                    <input id="ready_minutes" name="ready_minutes" type="number" class="validate" required placeholder="Minutes">
                    <label for="ready_minutes"></label>
                </div>
            </div>
            <!-- ingredients -->
            <div class="row">
                <div class="col s12 m6 offset-m3 input-field">
                    <label for="ingredients"><strong>Ingredients (one per line)</strong></label>
                    <textarea name="ingredients" id="ingredients" class="validate materialize-textarea" style="height: 15vh;" required
                    placeholder="Example: &#10 2 Chicken Breast &#10 500g Flour &#10 2 tsp Sugar &#10 50 g ground almonds &#10 1 x 400 g tin of chickpeas"></textarea>
                </div>
            </div>
            <!-- method -->
            <div class="row">
                <div class="col s12 input-field">
                    <table id="method-table">
                        <thead>
                            <tr>
                                <th>Step</th>
                                <th>Method</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>1.</strong></td>
                                <label for="step_desc-1"></label>
                                <td><textarea id="step_desc-1" name="step_desc[]" minlength="5" maxlength="500"
                                        class="validate materialize-textarea" required></textarea></td>
                            </tr>
                            <tr>
                                <td><strong>2.</strong></td>
                                <label for="step_desc-2"></label>
                                <td><textarea id="step_desc-2" name="step_desc[]" minlength="5" maxlength="500"
                                        class="validate materialize-textarea"></textarea></td>
                            </tr>
                            <tr>
                                <td><strong>3.</strong></td>
                                <label for="step_desc-3"></label>
                                <td><textarea id="step_desc-3" name="step_desc[]" minlength="5" maxlength="500"
                                        class="validate materialize-textarea"></textarea></td>
                            </tr>
                            <tr>
                                <td><strong>4.</strong></td>
                                <label for="step_desc-4"></label>
                                <td><textarea id="step_desc-4" name="step_desc[]" minlength="5" maxlength="500"
                                        class="validate materialize-textarea"></textarea></td>
                            </tr>
                            <tr>
                                <td><strong>5.</strong></td>
                                <label for="step_desc-5"></label>
                                <td><textarea id="step_desc-5" name="step_desc[]" minlength="5" maxlength="500"
                                        class="validate materialize-textarea"></textarea></td>
                            </tr>
                            <tr>
                                <td><strong>6.</strong></td>
                                <label for="step_desc-6"></label>
                                <td><textarea id="step_desc-6" name="step_desc[]" minlength="5" maxlength="500"
                                        class="validate materialize-textarea"></textarea></td>
                            </tr>
                            <tr>
                                <td><strong>7.</strong></td>
                                <label for="step_desc-7"></label>
                                <td><textarea id="step_desc-7" name="step_desc[]" minlength="5" maxlength="500"
                                        class="validate materialize-textarea"></textarea></td>
                            </tr>
                            <tr>
                                <td><strong>8.</strong></td>
                                <label for="step_desc-8"></label>
                                <td><textarea id="step_desc-8" name="step_desc[]" minlength="5" maxlength="500"
                                        class="validate materialize-textarea"></textarea></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <button type="submit" class="btn waves-effect waves-light">
                        Add Recipe <i class="fa-solid fa-bowl-food"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}