{% extends "base.html" %}
{% block content %}

    <h1 class="teal-text text-lighten-1 center-align">Edit Recipe</h1>

    <div class="row card-panel grey lighten-5">
        <form class="col s12" method="POST" action="{{ url_for('edit_recipe', recipe_id=recipe._id) }}">
            <!-- recipe name & image -->
            <div class="row">
                <div class="input-field col s12 m7">
                    <i class="fa-solid fa-pen prefix"></i>
                    <input id="recipe_name" name="recipe_name" type="text" minlength="5"
                        maxlength="50" class="validate" required value="{{ recipe.recipe_name|title }}">
                    <label for="recipe_name">Recipe Name</label>
                </div>
                <div class="input-field col s12 m5">
                    <i class="fa-solid fa-image prefix"></i>
                    {% if recipe.recipe_img %}
                        <input id="recipe_img" name="recipe_img" type="text" class="validate"
                            value="{{ recipe.recipe_img.src }}">
                    {% else %}
                        <input id="recipe_img" name="recipe_img" type="text" class="validate"
                            placeholder="e.g. https://img.freepik.com/free-photo/default-title_422131-141">
                    {% endif %}
                    <label for="recipe_img">Image URL (optional)</label>
                </div>
            </div>
            <!-- recipe description -->
            <div class="row">
                <div class="input-field col s12">
                    <i class="fa-solid fa-align-left prefix"></i>
                    <textarea id="recipe_desc" name="recipe_desc" minlength="5"
                        maxlength="700" class="validate materialize-textarea"
                        required>{{ recipe.recipe_desc }}</textarea>
                    <label for="recipe_desc">Recipe Description</label>
                </div>
            </div>
            <div class="row">
                <!-- meal type -->
                <div class="input-field col s12 m4">
                    <i class="fa-solid fa-bowl-food prefix"></i>
                    <select id="meal_type" name="meal_type" class="validate" required>
                        <option value="" disabled selected>e.g. Lunch</option>
                        {% for i in meal_types %}
                            {% if i.meal_type == recipe.meal_type %}
                                <option value="{{ i.meal_type }}" selected>{{ i.meal_type|capitalize }}</option>
                            {% else %}
                                <option value="{{ i.meal_type }}">{{ i.meal_type|capitalize }}</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <label for="meal_type">Meal Type</label>
                </div>
                <!-- serves -->
                <div class="input-field col s12 m4">
                    <i class="fa-solid fa-users prefix"></i>
                    <input id="serves" name="serves" type="number" class="validate" required
                        placeholder="e.g. 4-6" value="{{ recipe.serves }}">
                    <label for="serves">Serves</label>
                </div>
                <!-- ready in -->
                <div class="input-field col s6 m2">
                    <input id="ready_hours" name="ready_hours" type="number" class="validate" required
                        placeholder="Hours" value="{{ recipe.ready_in.hours }}">
                    <label for="ready_hours"><i class="fa-regular fa-clock recipe-icon"></i> Ready In</label>
                </div>
                <div class="input-field col s6 m2">
                    <input id="ready_minutes" name="ready_minutes" type="number" class="validate" required
                        placeholder="Minutes"  value="{{ recipe.ready_in.minutes }}">
                    <label for="ready_minutes"></label>
                </div>
            </div>
            <!-- ingredients -->
            <div class="row">
                <div class="col s12 m6 offset-m3 input-field">
                    <i class="fa-solid fa-rectangle-list prefix"></i>
                    <label for="ingredients"><strong>Ingredients (one per line)</strong></label>
                    <textarea name="ingredients" id="ingredients" class="validate materialize-textarea" style="height: 15vh;"
                        placeholder="Example: &#10 2 Chicken Breast &#10 500g Flour &#10 2 tsp Sugar &#10 50 g ground almonds &#10 1 x 400 g tin of chickpeas"
                        required>{% for ingredient in recipe.ingredients %}
                                    {{- ingredient -}}
                                 {% endfor %}</textarea>
                        <!-- formatting above fixes whitespace issue -->
                </div>
            </div>
            <!-- method -->
            <div class="row">
                <div class="col s12 input-field">
                    <table id="method-table">
                        <thead>
                            <tr>
                                <th>Step</th>
                                <th>Method</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td><strong>1.</strong></td>
                                <label for="step_desc-1"></label>
                                <td><textarea id="step_desc-1" name="step_desc[]" minlength="5" maxlength="500"
                                        class="validate materialize-textarea" required>{{ recipe.method[0] }}</textarea></td>
                            </tr>
                            <tr>
                                <td><strong>2.</strong></td>
                                <label for="step_desc-2"></label>
                                <td><textarea id="step_desc-2" name="step_desc[]" minlength="5" maxlength="500"
                                        class="validate materialize-textarea">{{ recipe.method[1] }}</textarea></td>
                            </tr>
                            <tr>
                                <td><strong>3.</strong></td>
                                <label for="step_desc-3"></label>
                                <td><textarea id="step_desc-3" name="step_desc[]" minlength="5" maxlength="500"
                                        class="validate materialize-textarea">{{ recipe.method[2] }}</textarea></td>
                            </tr>
                            <tr>
                                <td><strong>4.</strong></td>
                                <label for="step_desc-4"></label>
                                <td><textarea id="step_desc-4" name="step_desc[]" minlength="5" maxlength="500"
                                        class="validate materialize-textarea">{{ recipe.method[3] }}</textarea></td>
                            </tr>
                            <tr>
                                <td><strong>5.</strong></td>
                                <label for="step_desc-5"></label>
                                <td><textarea id="step_desc-5" name="step_desc[]" minlength="5" maxlength="500"
                                        class="validate materialize-textarea">{{ recipe.method[4] }}</textarea></td>
                            </tr>
                            <tr>
                                <td><strong>6.</strong></td>
                                <label for="step_desc-6"></label>
                                <td><textarea id="step_desc-6" name="step_desc[]" minlength="5" maxlength="500"
                                        class="validate materialize-textarea">{{ recipe.method[5] }}</textarea></td>
                            </tr>
                            <tr>
                                <td><strong>7.</strong></td>
                                <label for="step_desc-7"></label>
                                <td><textarea id="step_desc-7" name="step_desc[]" minlength="5" maxlength="500"
                                        class="validate materialize-textarea">{{ recipe.method[6] }}</textarea></td>
                            </tr>
                            <tr>
                                <td><strong>8.</strong></td>
                                <label for="step_desc-8"></label>
                                <td><textarea id="step_desc-8" name="step_desc[]" minlength="5" maxlength="500"
                                        class="validate materialize-textarea">{{ recipe.method[7] }}</textarea></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col s12 center-align">
                    <a href="{{ url_for('recipes') }}" class="btn waves-effect waves-light red">
                        Cancel <i class="fa-solid fa-circle-xmark"></i>
                    </a>
                    <button type="submit" class="btn waves-effect waves-light">
                        Edit Recipe <i class="fa-solid fa-gear"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>

{% endblock %}