{% extends "base.html" %}
{% block content %}
    <h1 class="center-align">Welcome to My CookBook!</h1>
    <div class="row home">
        <div class="col s12">
            <p>
                A place where you can create your own recipes,
                view recipes by others passionate about cooking,
                and save recipes to create your own recipe book.
            </p>
            <p>
                To get started simply
                <a class="waves-effect waves-light a-btn btn-small grey darken-1" href="{{ url_for('sign_in') }}">Sign In</a>
                or
                <a class="waves-effect waves-light a-btn btn-small grey darken-1" href="{{ url_for('register') }}">Register</a>
                to create a profile.
            </p>
            <p>
                Next, head to the
                <a class="waves-effect waves-light a-btn btn-small grey darken-1" href="{{ url_for('recipes') }}">Recipes</a>
                page to search for your favourite recipes.
            </p>
            <p>
                If you see any that you like, click <strong>Full Recipe</strong> to see the
                ingredients and cooking method.
            </p>
            <p>
                You can also click <strong>Save</strong> to add the recipe to your cookbook,
                which you'll find in the <strong>My CookBook</strong> tab in your profile.
            </p>
            <p>
                If you've got your own recipe you'd like to add, simply
                <strong>Sign In/Register</strong>,
                then head to the <strong>Add Recipe</strong> page.
            <p>
                Your created recipes will also show in the <strong>My Recipes</strong>
                tab in your profile.
            </p>
        </div>
    </div>
{% endblock %}