{% extends "base.html" %}
{% block content %}
    <h1 class="center-align">Welcome to My CookBook!</h1>
    <div class="row home">
        <div class="col s12">
            <p>
                A place where you can create your own recipes,
                view recipes by others passionate about cooking,
                and save recipes to create your own recipe book.
            </p>
            <p>
                To get started simply
                <a class="waves-effect waves-light a-btn btn-small grey darken-1" href="{{ url_for('sign_in') }}">Sign In</a>
                or
                <a class="waves-effect waves-light a-btn btn-small grey darken-1" href="{{ url_for('register') }}">Register</a>
                to create a profile.
            </p>
            <p>
                Next, head to the
                <a class="waves-effect waves-light a-btn btn-small grey darken-1" href="{{ url_for('recipes') }}">Recipes</a>
                page to search for your favourite recipes.
            </p>
            <p>
                If you see any that you like, click 'Full Recipe' to see the
                ingredients and cooking method. You can also click 'Save' to add
                the recipe to your cookbook, which you'll find in the 'My CookBook'
                tab in your profile.
            </p>
            <p>
                If you've got your own recipe you'd like to add, head to the
                <a class="waves-effect waves-light a-btn btn-small grey darken-1" href="{{ url_for('add_recipe') }}">Add Recipe</a>
                page. Your recipes will also show in the 'My Recipes'
                tab in your profile.
            </p>
        </div>
    </div>
{% endblock %}