{% extends "base.html" %}
{% block content %}
    <!-- header -->
    <h1 class="center-align"><strong>{{ recipe.recipe_name|title }}</strong></h1>

    <div class="row">
        <!-- image -->
        {% if 'recipe_img' in recipe and 'src' in recipe['recipe_img'] and recipe['recipe_img']['src'] != '' %}
        <div class="col s12 m6 l5 center-align">
            <img class="recipe-img" src="{{ recipe.recipe_img.src }}"
                alt="Image of '{{ recipe.recipe_name|title }}' recipe."
                title="Image of '{{ recipe.recipe_name|title }}' recipe.">
        </div>
        {% endif %}
        <!-- description & info -->
        <div class="col s12 m6 l7">
            <p>{{ recipe.recipe_desc }}</p>
            <ul>
                <li>
                    <i class="fa-solid fa-bowl-food"></i>
                    <strong>Meal Type: </strong>{{ recipe.meal_type|title }}
                </li>
                <li>
                    <i class="fa-regular fa-clock"></i>
                    <strong>Ready In: </strong>
                    {{ recipe.ready_in.hours }} Hrs {{ recipe.ready_in.minutes }} Mins
                </li>
                <li>
                    <i class="fa-solid fa-users"></i>
                    <strong>Serves: </strong>{{ recipe.serves }}
                </li>
                <li>
                    <i class="fa-regular fa-face-smile"></i>
                    <strong>Created By: </strong>Chef {{ recipe.created_by }}
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <!-- ingredients -->
        <div class="col s12 m6 l5">
            <h3><i class="fa-solid fa-rectangle-list"></i> Ingredients</h3>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient|title }}</li>
                {% endfor %}
            </ul>
        </div>
        <!-- method -->
        <div class="col s12 m6 l7">
            <h3><i class="fa-solid fa-list-ol"></i> Method</h3>
            <ol>
                {% for step in recipe.method %}
                <li>{{ step }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>

{% endblock %}