{% extends "base.html" %}
{% block content %}
    <!-- header -->
    <h1 class="center-align"><strong>{{ recipe.recipe_name|title }}</strong></h1>

    <div class="row">
        <!-- image -->
        {% if 'recipe_img' in recipe and 'src' in recipe['recipe_img'] and recipe['recipe_img']['src'] != '' %}
        <div class="col s12 l6 xl5 center-align">
            <img class="recipe-img" src="{{ recipe.recipe_img.src }}"
                alt="Image of '{{ recipe.recipe_name|title }}' recipe."
                title="Image of '{{ recipe.recipe_name|title }}' recipe.">
        </div>
        {% endif %}
        <!-- description & info -->
        <div class="col s12 l6 xl7">
            <p>{{ recipe.recipe_desc }}</p>
            <ul>
                <li>
                    <i class="fa-solid fa-bowl-food recipe-icon"></i>
                    <strong>Meal Type: </strong>{{ recipe.meal_type|title }}
                </li>
                <li>
                    <i class="fa-regular fa-clock recipe-icon"></i>
                    <strong>Ready In: </strong>
                    {{ recipe.ready_in.hours }} Hrs {{ recipe.ready_in.minutes }} Mins
                </li>
                <li>
                    <i class="fa-solid fa-users recipe-icon"></i>
                    <strong>Serves: </strong>{{ recipe.serves }}
                </li>
                <li>
                    <i class="fa-regular fa-face-smile recipe-icon"></i>
                    <strong>Created By: </strong>Chef {{ recipe.created_by }}
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <!-- ingredients -->
        <div class="col s12 l5">
            <h2><i class="fa-solid fa-rectangle-list"></i> Ingredients</h2>
            <ul>
                {% for ingredient in recipe.ingredients %}
                    <li>{{ ingredient|title }}</li>
                {% endfor %}
            </ul>
        </div>
        <!-- method -->
        <div class="col s12 l7">
            <h2><i class="fa-solid fa-list-ol"></i> Method</h2>
            <ol>
                {% for step in recipe.method %}
                <li>{{ step }}</li>
                {% endfor %}
            </ol>
        </div>
    </div>

    <div class="row collapsible-buttons">
        {% if recipe._id|string in saved_recipes %}
            <div class="col s12 m4">
                <form action="{{ url_for('forget_recipe', current_page=url_for('recipes'), recipe_id=recipe._id) }}"
                    method="POST">
                    <button type="submit" class="waves-effect waves-light btn orange text-shadow">
                        Forget Recipe
                        <i class="fa-solid fa-eraser"></i>
                    </button>
                </form>
            </div>
        {% else %}
            <div class="col s12 m4">
                <form action="{{ url_for('save_recipe', current_page=url_for('recipes'), recipe_id=recipe._id) }}"
                    method="POST">
                    <button type="submit" class="waves-effect waves-light btn green text-shadow">
                        Save Recipe
                        <i class="fa-solid fa-plus"></i>
                    </button>
                </form>
            </div>
        {% endif %}
        {% if session.user|lower == recipe.created_by|lower %}
            <div class="col s6 m4">
                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}"
                    class="waves-effect waves-light btn blue lighten-1">
                    Edit
                    <i class="fa-solid fa-pen-to-square"></i>
                </a>
            </div>
            <div class="col s6 m4">
                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="waves-effect waves-light btn red">
                    Delete
                    <i class="fa-solid fa-trash-can"></i>
                </a>
            </div>
        {% endif %}
    </div>
{% endblock %}